<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[定]</string>
		<key>cht</key>
		<string>[定]</string>
		<key>gif</key>
		<string>定.gif</string>
		<key>png</key>
		<string>定@2x.png</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[跪求]</string>
		<key>cht</key>
		<string>[跪求]</string>
		<key>gif</key>
		<string>跪求.gif</string>
		<key>png</key>
		<string>跪求@2x.png</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[害羞]</string>
		<key>cht</key>
		<string>[害羞]</string>
		<key>gif</key>
		<string>害羞.gif</string>
		<key>png</key>
		<string>害羞@2x.png</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[汗]</string>
		<key>cht</key>
		<string>[汗]</string>
		<key>gif</key>
		<string>汗.gif</string>
		<key>png</key>
		<string>汗@2x.png</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[惊吓]</string>
		<key>cht</key>
		<string>[惊吓]</string>
		<key>gif</key>
		<string>惊吓.gif</string>
		<key>png</key>
		<string>惊吓@2x.png</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抠鼻]</string>
		<key>cht</key>
		<string>[抠鼻]</string>
		<key>gif</key>
		<string>抠鼻.gif</string>
		<key>png</key>
		<string>抠鼻@2x.png</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[泪别]</string>
		<key>cht</key>
		<string>[泪别]</string>
		<key>gif</key>
		<string>泪别.gif</string>
		<key>png</key>
		<string>泪别.png</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[你好]</string>
		<key>cht</key>
		<string>[你好]</string>
		<key>gif</key>
		<string>你好.gif</string>
		<key>png</key>
		<string>你好@2x.png</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[你牛]</string>
		<key>cht</key>
		<string>[你牛]</string>
		<key>gif</key>
		<string>你牛.gif</string>
		<key>png</key>
		<string>你牛@2x.png</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[怕了吧]</string>
		<key>cht</key>
		<string>[怕了吧]</string>
		<key>gif</key>
		<string>怕了吧.gif</string>
		<key>png</key>
		<string>怕了吧@2x.png</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[睡觉]</string>
		<key>cht</key>
		<string>[睡觉]</string>
		<key>gif</key>
		<string>睡觉.gif</string>
		<key>png</key>
		<string>睡觉@2x.png</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[逃跑]</string>
		<key>cht</key>
		<string>[逃跑]</string>
		<key>gif</key>
		<string>逃跑.gif</string>
		<key>png</key>
		<string>逃跑@2x.png</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[同情]</string>
		<key>cht</key>
		<string>[同情]</string>
		<key>gif</key>
		<string>同情.gif</string>
		<key>png</key>
		<string>同情@2x.png</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[笑死了]</string>
		<key>cht</key>
		<string>[笑死了]</string>
		<key>gif</key>
		<string>笑死了.gif</string>
		<key>png</key>
		<string>笑死了@2x.png</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[疑问]</string>
		<key>cht</key>
		<string>[疑问]</string>
		<key>gif</key>
		<string>疑问.gif</string>
		<key>png</key>
		<string>疑问@2x.png</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[诱惑]</string>
		<key>cht</key>
		<string>[诱惑]</string>
		<key>gif</key>
		<string>诱惑.gif</string>
		<key>png</key>
		<string>诱惑@2x.png</string>
		<key>type</key>
		<string>3</string>
	</dict>
	</array>
</plist>
